Repository smartcontractkit/chainlink-protos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/devex-tooling, @smartcontractkit/oev, @smartcontractkit/RMN, @smartcontractkit/ccip, @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/foundations, @smartcontractkit/keystone, @smartcontractkit/dev-services

fix: fmt files
  storage-service/node/v1/node_service.proto
  workflows/workflows/v1/metadata.proto
  workflows/workflows/v1/trigger_detail.proto
  workflows/workflows/v2/capability_execution_finished.proto
  workflows/workflows/v2/capability_execution_started.proto
  workflows/workflows/v2/cre_info.proto
  workflows/workflows/v2/transaction_info.proto
  workflows/workflows/v2/trigger_execution_started.proto
  workflows/workflows/v2/workflow.proto
  workflows/workflows/v2/workflow_activated.proto
  workflows/workflows/v2/workflow_deleted.proto
  workflows/workflows/v2/workflow_deployed.proto
  workflows/workflows/v2/workflow_execution_finished.proto
  workflows/workflows/v2/workflow_execution_started.proto
  workflows/workflows/v2/workflow_key.proto
  workflows/workflows/v2/workflow_paused.proto
  workflows/workflows/v2/workflow_updated.proto
  workflows/workflows/v2/xxx_no_send.proto
Owners: @smartcontractkit/dev-services, @smartcontractkit/devex-tooling, @smartcontractkit/foundations, @smartcontractkit/core

fix: fmt files (#160)
  storage-service/node/v1/node_service.proto
  workflows/workflows/v1/metadata.proto
  workflows/workflows/v1/trigger_detail.proto
  workflows/workflows/v2/capability_execution_finished.proto
  workflows/workflows/v2/capability_execution_started.proto
  workflows/workflows/v2/cre_info.proto
  workflows/workflows/v2/transaction_info.proto
  workflows/workflows/v2/trigger_execution_started.proto
  workflows/workflows/v2/workflow.proto
  workflows/workflows/v2/workflow_activated.proto
  workflows/workflows/v2/workflow_deleted.proto
  workflows/workflows/v2/workflow_deployed.proto
  workflows/workflows/v2/workflow_execution_finished.proto
  workflows/workflows/v2/workflow_execution_started.proto
  workflows/workflows/v2/workflow_key.proto
  workflows/workflows/v2/workflow_paused.proto
  workflows/workflows/v2/workflow_updated.proto
  workflows/workflows/v2/xxx_no_send.proto
Owners: @smartcontractkit/dev-services, @smartcontractkit/devex-tooling, @smartcontractkit/foundations, @smartcontractkit/core

feat: update protos
  .github/workflows/regenerate-protobuf.yml
  buf.yaml
  job-distributor/buf.gen.yaml
  job-distributor/v1/job/job.proto
  job-distributor/v1/node/node.proto
  taskfile.yml
Owners: @smartcontractkit/devex-tooling

update http trigger input to bytes from map
  cre/capabilities/networking/http/v1alpha/trigger.proto
Owners: @smartcontractkit/keystone, @smartcontractkit/devex-tooling

re-add struct.proto
  cre/capabilities/networking/http/v1alpha/trigger.proto
Owners: @smartcontractkit/keystone, @smartcontractkit/devex-tooling

RANE-4166 rane v1 protobuf
  buf.yaml
  rane/go.mod
  rane/go.sum
  rane/v1/metadata.pb.go
  rane/v1/metadata.proto
  taskfile.yml
Owners: @smartcontractkit/devex-tooling

update http trigger input to bytes from map (#161)
  cre/capabilities/networking/http/v1alpha/trigger.proto
  cre/go/installer/pkg/embedded_gen.go
Owners: @smartcontractkit/keystone, @smartcontractkit/devex-tooling

feat: add rane package to workspace and create package.json
  pnpm-workspace.yaml
  rane/package.json
Owners: @smartcontractkit/devex-tooling

RANE-4166 rane v1 protobuf (#162)
  buf.yaml
  pnpm-workspace.yaml
  rane/go.mod
  rane/go.sum
  rane/package.json
  rane/v1/metadata.pb.go
  rane/v1/metadata.proto
  taskfile.yml
Owners: @smartcontractkit/devex-tooling

feat: add always to buf regen
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/devex-tooling

fix: lint
  cre/capabilities/networking/http/v1alpha/trigger.proto
Owners: @smartcontractkit/keystone, @smartcontractkit/devex-tooling

feat: add always to buf regen (#163)
  .github/workflows/regenerate-protobuf.yml
  cre/capabilities/networking/http/v1alpha/trigger.proto
  cre/go/installer/pkg/embedded_gen.go
Owners: @smartcontractkit/devex-tooling, @smartcontractkit/keystone

feat: test
  job-distributor/v1/job/job.proto
Owners: @smartcontractkit/devex-tooling

feat: test
  cre/capabilities/networking/http/v1alpha/trigger.proto
Owners: @smartcontractkit/keystone, @smartcontractkit/devex-tooling

data-feeds: publish BridgeStatusEvent for platform and cre domain
  workflows/bridge_status/v1/bridge_status_event.pb.go
  workflows/bridge_status/v1/bridge_status_event.proto
  workflows/bridge_status/v1/configuration_item.pb.go
  workflows/bridge_status/v1/configuration_item.proto
  workflows/bridge_status/v1/endpoint_info.pb.go
  workflows/bridge_status/v1/endpoint_info.proto
  workflows/bridge_status/v1/job_info.pb.go
  workflows/bridge_status/v1/job_info.proto
  workflows/bridge_status/v1/metrics_info.pb.go
  workflows/bridge_status/v1/metrics_info.proto
  workflows/bridge_status/v1/runtime_info.pb.go
  workflows/bridge_status/v1/runtime_info.proto
  workflows/iron-flask-cre.yaml
  workflows/iron-flask-platform.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core, @smartcontractkit/devex-tooling

Revert "data-feeds: publish BridgeStatusEvent for platform and cre domain"
  workflows/bridge_status/v1/bridge_status_event.pb.go
  workflows/bridge_status/v1/bridge_status_event.proto
  workflows/bridge_status/v1/configuration_item.pb.go
  workflows/bridge_status/v1/configuration_item.proto
  workflows/bridge_status/v1/endpoint_info.pb.go
  workflows/bridge_status/v1/endpoint_info.proto
  workflows/bridge_status/v1/job_info.pb.go
  workflows/bridge_status/v1/job_info.proto
  workflows/bridge_status/v1/metrics_info.pb.go
  workflows/bridge_status/v1/metrics_info.proto
  workflows/bridge_status/v1/runtime_info.pb.go
  workflows/bridge_status/v1/runtime_info.proto
  workflows/iron-flask-cre.yaml
  workflows/iron-flask-platform.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core, @smartcontractkit/devex-tooling

feat: test buf
  cre/capabilities/networking/http/v1alpha/client.proto
Owners: @smartcontractkit/keystone, @smartcontractkit/devex-tooling

feat: test
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/devex-tooling

feat: pin
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/devex-tooling

feat: test
  chainlink-catalog/v1/ping/ping.proto
Owners: @smartcontractkit/devex-tooling

feat: test
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/devex-tooling

feat: test
  rane/v1/metadata.proto
Owners: @smartcontractkit/devex-tooling

fix: cre buf
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/devex-tooling

fix: cre buf (#170)
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/devex-tooling

moving linking service to chainlink-protos
  linking-service/go/generate.go
  linking-service/go/go.mod
  linking-service/go/go.sum
  linking-service/go/v1/linking-service.pb.go
  linking-service/go/v1/linking-service_grpc.pb.go
  linking-service/go/v1/linking-types.pb.go
  linking-service/v1/linking-service.proto
  linking-service/v1/linking-types.proto
  taskfile.yml
Owners: @smartcontractkit/devex-tooling

.github/CODEOWNERS:

* @smartcontractkit/devex-tooling

/job-distributor/ @smartcontractkit/devex-tooling
/orchestrator/ @smartcontractkit/devex-tooling
/svr/ @smartcontractkit/oev @smartcontractkit/devex-tooling
/rmn/ @smartcontractkit/RMN @smartcontractkit/ccip @smartcontractkit/devex-tooling
/billing/ @smartcontractkit/cre-business @smartcontractkit/core @smartcontractkit/devex-tooling
/workflows/ @smartcontractkit/foundations @smartcontractkit/core @smartcontractkit/devex-tooling
/cre/ @smartcontractkit/keystone @smartcontractkit/devex-tooling
/storage-service/ @smartcontractkit/dev-services @smartcontractkit/devex-tooling
/.github/workflows/cre-validations.yml @smartcontractkit/keystone @smartcontractkit/devex-tooling

# Changesets do not have owners
/.changeset/**
