Repository smartcontractkit/chainlink-protos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/oev, @smartcontractkit/RMN, @smartcontractkit/ccip, @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/foundations

use tool versions in github workflows
  .github/workflows/regenerate-protobuf.yml
  rmn/v1.6/go/go.mod
  rmn/v1.6/go/go.sum
  taskfile.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/RMN, @smartcontractkit/ccip

use asdf github action for tooling
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

asdf plugin is rust which contains cargo
  .tool-versions
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

explicitly install golang before anything else
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

install specific golang version
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

use asdf to explicitly install tools
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

add conditions to steps
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

lesser condition for task
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

update sha reference in action
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

test: test
  job-distributor/v1/node/node.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

workflows: consolidate metering protos in one file
  workflows/workflows/v1/metering.proto
  workflows/workflows/v1/metering_detail.proto
  workflows/workflows/v1/metering_step.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

chore: moved beholder.yaml -> svr/iron-flask.yaml
  svr/iron-flask.yaml
Owners: @smartcontractkit/oev

chore: bump protoc version
  .tool-versions
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

workflows: add iron-flask config
  workflows/Makefile
  workflows/iron-flask.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core

task proto:gen:workflows:v1
  workflows/go/events/capability_finished.pb.go
  workflows/go/events/capability_started.pb.go
  workflows/go/events/metadata.pb.go
  workflows/go/events/metering.pb.go
  workflows/go/events/metering_detail.pb.go
  workflows/go/events/metering_step.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
  workflows/go/events/workflow_finished.pb.go
  workflows/go/events/workflow_started.pb.go
  workflows/go/events/workflow_status_changed.pb.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

task proto:all
  billing/go/billing_service.pb.go
  job-distributor/v1/app/app.pb.go
  job-distributor/v1/app/app_grpc.pb.go
  job-distributor/v1/csa/csa.pb.go
  job-distributor/v1/csa/csa_grpc.pb.go
  job-distributor/v1/job/job.pb.go
  job-distributor/v1/job/job_grpc.pb.go
  job-distributor/v1/node/node.pb.go
  job-distributor/v1/node/node_grpc.pb.go
  job-distributor/v1/shared/ptypes/label.pb.go
  orchestrator/feedsmanager/feedsmanager.pb.go
  orchestrator/feedsmanager/feedsmanager_wsrpc.pb.go
  rmn/v1.6/go/ocr3config/offchainreporting3_offchain_config.pb.go
  rmn/v1.6/go/serialization/keystore.pb.go
  rmn/v1.6/go/serialization/rageproxy.pb.go
  rmn/v1.6/go/serialization/rmn_offchain.pb.go
  svr/v1/beholder_tx_message.pb.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/RMN, @smartcontractkit/ccip, @smartcontractkit/oev

feat: add p2p bundle to fms protos
  job-distributor/v1/node/node.proto
  orchestrator/feedsmanager/feedsmanager.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

fix: number
  orchestrator/feedsmanager/feedsmanager.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

feat: add p2p bundle to fms protos (#70)
  job-distributor/v1/node/node.pb.go
  job-distributor/v1/node/node.proto
  orchestrator/feedsmanager/feedsmanager.pb.go
  orchestrator/feedsmanager/feedsmanager.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

feat p2p bundle fms
  .changeset/nine-plums-trade.md
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

feat p2p bundle fms (#71)
  .changeset/nine-plums-trade.md
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

Add iron-flask config to svr
  svr/Makefile
  svr/iron-flask.yaml
Owners: @smartcontractkit/oev

task proto:gen:svr
  svr/v1/beholder_tx_message.pb.go
Owners: @smartcontractkit/oev

task proto:gen:workflows:v1
  workflows/go/events/capability_finished.pb.go
  workflows/go/events/capability_started.pb.go
  workflows/go/events/metadata.pb.go
  workflows/go/events/metering.pb.go
  workflows/go/events/metering_detail.pb.go
  workflows/go/events/metering_step.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
  workflows/go/events/workflow_finished.pb.go
  workflows/go/events/workflow_started.pb.go
  workflows/go/events/workflow_status_changed.pb.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

Consolidate MeteringReport, MeteringReportStep, MeteringReportNodeDetail in one proto file
  workflows/workflows/v1/metering.proto
  workflows/workflows/v1/metering_detail.proto
  workflows/workflows/v1/metering_step.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

Add iron-flask config for publishing schemas
  workflows/Makefile
  workflows/iron-flask.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core

Add a copy for TransmissionsScheduledEvent schema with old name (TransmitScheduleEvent) for backwards compatibility
  workflows/iron-flask.yaml
  workflows/workflows/v1/transmit_schedule_event.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

task proto:gen:workflows:v1
  workflows/go/events/metering.pb.go
  workflows/go/events/metering_detail.pb.go
  workflows/go/events/metering_step.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

Split TransmissionsScheduledEvent, TransmitScheduleEvent into separate files
  workflows/iron-flask.yaml
  workflows/workflows/v1/transmissions_scheduled_event.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

task fmt
  workflows/workflows/v1/transmissions_scheduled_event.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

task proto:gen:workflows:v1
  workflows/go/events/transmissions_scheduled_event.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

INFOPLAT-2291 publish workflows/v1 protos to schema registry (#73)
  workflows/Makefile
  workflows/go/events/capability_finished.pb.go
  workflows/go/events/capability_started.pb.go
  workflows/go/events/metadata.pb.go
  workflows/go/events/metering.pb.go
  workflows/go/events/metering_detail.pb.go
  workflows/go/events/metering_step.pb.go
  workflows/go/events/transmissions_scheduled_event.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
  workflows/go/events/workflow_finished.pb.go
  workflows/go/events/workflow_started.pb.go
  workflows/go/events/workflow_status_changed.pb.go
  workflows/iron-flask.yaml
  workflows/workflows/v1/metering.proto
  workflows/workflows/v1/metering_detail.proto
  workflows/workflows/v1/metering_step.proto
  workflows/workflows/v1/transmissions_scheduled_event.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

add code generation for GRPC billing service
  billing/go/billing_service.pb.go
  billing/go/billing_service_grpc.pb.go
  taskfile.yml
Owners: @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

move code generation logic for billing and workflows to specific packages
  billing/Makefile
  billing/go/go.mod
  billing/go/go.sum
  taskfile.yml
  workflows/Makefile
Owners: @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/foundations

combine cd and command
  taskfile.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

new line for testing workflow
  billing/Makefile
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

change go code generation to use go generate and make workflow use protoc-gen-go from tool-versions
  .github/workflows/regenerate-protobuf.yml
  billing/Makefile
  billing/go/billing_service.pb.go
  billing/go/generate.go
  job-distributor/v1/app/app.pb.go
  job-distributor/v1/csa/csa.pb.go
  job-distributor/v1/job/job.pb.go
  job-distributor/v1/node/node.pb.go
  job-distributor/v1/shared/ptypes/label.pb.go
  orchestrator/feedsmanager/feedsmanager.pb.go
  rmn/v1.6/go/ocr3config/offchainreporting3_offchain_config.pb.go
  rmn/v1.6/go/serialization/keystore.pb.go
  rmn/v1.6/go/serialization/rageproxy.pb.go
  rmn/v1.6/go/serialization/rmn_offchain.pb.go
  svr/v1/beholder_tx_message.pb.go
  workflows/Makefile
  workflows/go/events/metering.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
  workflows/go/generate.go
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/RMN, @smartcontractkit/ccip, @smartcontractkit/oev, @smartcontractkit/foundations

separate individual proto files into generate lines
  workflows/go/generate.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

fix taskfile for workflows
  taskfile.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

remove local replace
  billing/go/go.mod
  billing/go/go.sum
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

.github/CODEOWNERS:

* @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling

/job-distributor/ @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling
/orchestrator/ @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling
/svr/ @smartcontractkit/oev
/rmn/ @smartcontractkit/RMN @smartcontractkit/ccip
/billing/ @smartcontractkit/cre-business @smartcontractkit/core
/workflows/ @smartcontractkit/foundations @smartcontractkit/core
