Repository smartcontractkit/chainlink-protos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/oev, @smartcontractkit/RMN, @smartcontractkit/ccip, @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/foundations

.github/CODEOWNERS:

* @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling

/job-distributor/ @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling
/orchestrator/ @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling
/svr/ @smartcontractkit/oev
/rmn/ @smartcontractkit/RMN @smartcontractkit/ccip
/billing/ @smartcontractkit/cre-business @smartcontractkit/core
/workflows/ @smartcontractkit/foundations @smartcontractkit/core

Gerenate missing Go code for proto TransmissionsScheduledEvent
  workflows/go/events/transmissions_scheduled_event.pb.go
  workflows/go/generate.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

Gerenate missing Go code for proto TransmissionsScheduledEvent (#90)
  workflows/go/events/transmissions_scheduled_event.pb.go
  workflows/go/generate.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

update to proto to reflect latest billing requirements
  billing/billing/v1/billing_service.proto
  billing/creditreservation/v1/credit_reservation_service.proto
  billing/go/billing_service.pb.go
  billing/go/billing_service_grpc.pb.go
  billing/go/credit_reservation_service.pb.go
  billing/go/credit_reservation_service_grpc.pb.go
  billing/go/generate.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

fmt
  billing/billing/v1/billing_service.proto
  billing/creditreservation/v1/credit_reservation_service.proto
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

Migrate secrets to chainlink-protos
  cre/sdk/v1alpha/sdk.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

Fix formatting
  cre/sdk/v1alpha/sdk.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

Migrate secrets to chainlink-protos (#92)
  cre/sdk/v1alpha/sdk.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling
