Repository smartcontractkit/chainlink-protos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/oev, @smartcontractkit/RMN, @smartcontractkit/ccip, @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/foundations

add code generation for GRPC billing service (#66)
  .github/workflows/regenerate-protobuf.yml
  billing/Makefile
  billing/go/billing_service_grpc.pb.go
  billing/go/generate.go
  billing/go/go.mod
  billing/go/go.sum
  taskfile.yml
  workflows/Makefile
  workflows/go/events/capability_finished.pb.go
  workflows/go/events/capability_started.pb.go
  workflows/go/events/metadata.pb.go
  workflows/go/events/metering.pb.go
  workflows/go/events/transmissions_scheduled_event.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
  workflows/go/events/workflow_finished.pb.go
  workflows/go/events/workflow_started.pb.go
  workflows/go/events/workflow_status_changed.pb.go
  workflows/go/generate.go
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/foundations

INFOPLAT-2291 svr iron-flask config (#74)
  svr/Makefile
  svr/iron-flask.yaml
Owners: @smartcontractkit/oev

feat: add TON chain type
  .changeset/clean-grapes-marry.md
  .github/workflows/regenerate-protobuf.yml
  job-distributor/v1/node/node.proto
  orchestrator/feedsmanager/feedsmanager.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

feat: add TON chain type (#75)
  .changeset/clean-grapes-marry.md
  .github/workflows/regenerate-protobuf.yml
  billing/go/billing_service.pb.go
  job-distributor/v1/app/app.pb.go
  job-distributor/v1/csa/csa.pb.go
  job-distributor/v1/job/job.pb.go
  job-distributor/v1/node/node.pb.go
  job-distributor/v1/node/node.proto
  job-distributor/v1/shared/ptypes/label.pb.go
  orchestrator/feedsmanager/feedsmanager.pb.go
  orchestrator/feedsmanager/feedsmanager.proto
  rmn/v1.6/go/ocr3config/offchainreporting3_offchain_config.pb.go
  rmn/v1.6/go/serialization/keystore.pb.go
  rmn/v1.6/go/serialization/rageproxy.pb.go
  rmn/v1.6/go/serialization/rmn_offchain.pb.go
  svr/v1/beholder_tx_message.pb.go
  workflows/go/events/capability_finished.pb.go
  workflows/go/events/capability_started.pb.go
  workflows/go/events/metadata.pb.go
  workflows/go/events/metering.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
  workflows/go/events/workflow_finished.pb.go
  workflows/go/events/workflow_started.pb.go
  workflows/go/events/workflow_status_changed.pb.go
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/cre-business, @smartcontractkit/core, @smartcontractkit/RMN, @smartcontractkit/ccip, @smartcontractkit/oev, @smartcontractkit/foundations

add rate card to reserve request
  billing/billing/v1/billing_service.proto
  billing/go/billing_service.pb.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

add rate card to reserve request (#77)
  billing/billing/v1/billing_service.proto
  billing/go/billing_service.pb.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

added donVersion to workflows metadata + make generate
  workflows/go/events/capability_finished.pb.go
  workflows/go/events/capability_started.pb.go
  workflows/go/events/metadata.pb.go
  workflows/go/events/metering.pb.go
  workflows/go/events/transmit_schedule_event.pb.go
  workflows/go/events/workflow_finished.pb.go
  workflows/go/events/workflow_started.pb.go
  workflows/go/events/workflow_status_changed.pb.go
  workflows/workflows/v1/metadata.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

add sui
  job-distributor/v1/node/node.pb.go
  job-distributor/v1/node/node.proto
  orchestrator/feedsmanager/feedsmanager.pb.go
  orchestrator/feedsmanager/feedsmanager.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

add sui (#79)
  job-distributor/v1/node/node.pb.go
  job-distributor/v1/node/node.proto
  orchestrator/feedsmanager/feedsmanager.pb.go
  orchestrator/feedsmanager/feedsmanager.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

(refactor): Billing ReserveCredits request and response uses universal credit amount
  billing/billing/v1/billing_service.proto
  billing/go/billing_service.pb.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

(refactor): Billing ReserveCredits request and response uses universal credit amount (#80)
  billing/billing/v1/billing_service.proto
  billing/go/billing_service.pb.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

common: added base_message.proto from chainlink-common/blob/main/pkg/beholder/pb/base_message.proto
  workflows/common/v1/base_message.proto
  workflows/go/common/base_message.pb.go
  workflows/go/generate.go
  workflows/iron-flask.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core

iron-flask: update Makefile
  workflows/Makefile
Owners: @smartcontractkit/foundations, @smartcontractkit/core

feat: add deleted jobs filter
  job-distributor/v1/job/job.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

feat: add changeset
  .changeset/hot-poets-care.md
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

feat: add deleted jobs filter (#82)
  .changeset/hot-poets-care.md
  job-distributor/v1/job/job.pb.go
  job-distributor/v1/job/job.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

Publish new version of chainlink-common/pkg/beholder/pb/BaseMessage (#81)
  workflows/Makefile
  workflows/common/v1/base_message.proto
  workflows/go/common/base_message.pb.go
  workflows/go/generate.go
  workflows/iron-flask.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core

renamed iron-flask.yaml -> iron-flask-platform.yaml
  workflows/iron-flask-platform.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core

add legacy base-message
  workflows/common/v1/base_message_legacy.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

add iron-flask config for cre domain
  workflows/iron-flask-cre.yaml
Owners: @smartcontractkit/foundations, @smartcontractkit/core

Add CRE protos
  .github/workflows/regenerate-protobuf.yml
  .gitignore
  buf.yaml
  cre/sdk/v1alpha/sdk.proto
  cre/tools/generator/v1alpha/cre_metadata.proto
  cre/values/v1/values.proto
  taskfile.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

install asdf again...
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

with hash...
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

revert non protos and try simpler ingore rule...
  .github/workflows/regenerate-protobuf.yml
  buf.yaml
  taskfile.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

revert github action...
  .github/workflows/regenerate-protobuf.yml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

ignore cre until first commit with it...
  buf.yaml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

unsure why, base message needs to be regenerated...
  workflows/go/common/base_message.pb.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

sanity check without alpha or beta allowance...
  buf.yaml
  workflows/go/common/base_message.pb.go
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/foundations, @smartcontractkit/core

base message again...
  workflows/go/common/base_message.pb.go
Owners: @smartcontractkit/foundations, @smartcontractkit/core

idea
  .gitignore
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

fix base message
  workflows/common/v1/base_message.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

fix formatting
  cre/sdk/v1alpha/sdk.proto
  cre/tools/generator/v1alpha/cre_metadata.proto
  cre/values/v1/values.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

idea (#86)
  .gitignore
  workflows/common/v1/base_message.proto
  workflows/go/common/base_message.pb.go
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling, @smartcontractkit/foundations, @smartcontractkit/core

ignore_unstable_packages
  buf.yaml
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

Move protos for values.Value and CRE SDK (#85)
  buf.yaml
  cre/sdk/v1alpha/sdk.proto
  cre/tools/generator/v1alpha/cre_metadata.proto
  cre/values/v1/values.proto
Owners: @smartcontractkit/deployment-automation, @smartcontractkit/devex-tooling

credit reservations proto to replace billing proto
  billing/billing/v1/billing_service.proto
  billing/billing/v1/credit_reservation_message_types.proto
  billing/billing/v1/credit_reservation_service.proto
  billing/go/billing_service.pb.go
  billing/go/billing_service_grpc.pb.go
  billing/go/credit_reservation_message_types.pb.go
  billing/go/credit_reservation_service.pb.go
  billing/go/credit_reservation_service_grpc.pb.go
  billing/go/generate.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

fix for CI
  billing/creditreservation/v1/credit_reservation_message_types.proto
  billing/creditreservation/v1/credit_reservation_service.proto
  billing/go/credit_reservation_message_types.pb.go
  billing/go/credit_reservation_service.pb.go
  billing/go/credit_reservation_service_grpc.pb.go
  billing/go/generate.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

billing proto updates
  billing/billing/v1/billing_service.proto
  billing/go/billing_service.pb.go
  billing/go/billing_service_grpc.pb.go
Owners: @smartcontractkit/cre-business, @smartcontractkit/core

[CAPPL-783] Event for user logs
  workflows/go/events/user_logs.pb.go
  workflows/go/generate.go
  workflows/workflows/v1/user_logs.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

[CAPPL-783] Event for user logs (#89)
  workflows/go/events/user_logs.pb.go
  workflows/go/generate.go
  workflows/workflows/v1/user_logs.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/core

.github/CODEOWNERS:

* @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling

/job-distributor/ @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling
/orchestrator/ @smartcontractkit/deployment-automation @smartcontractkit/devex-tooling
/svr/ @smartcontractkit/oev
/rmn/ @smartcontractkit/RMN @smartcontractkit/ccip
/billing/ @smartcontractkit/cre-business @smartcontractkit/core
/workflows/ @smartcontractkit/foundations @smartcontractkit/core
